extend layout
block content
  .container
    .row-fluid.heading
      .span12
        h1 Itinerated
    .row-fluid.subheading
      .span12
        p.lead Your itinerary rated by the crowd
    .row-fluid.pitch
      .span5.offset4.main-block
        h3 Edit Itinerary
        div.newitinerary
          form(method="post")
            input(name="_id", type="hidden", value=itinerary._id.toHexString())
            div
              div
                span.label Name :
                input(type="text", name="name", id="editItineraryName", value=itinerary.name)
              div
                span.label Location :
                input(type="text", name="location", id="editItineraryLocation", value=itinerary.location)
              div
                span.label Sites :
                input(type="text", name="sites", id="editItinerarySites", value=itinerary.sites)
              div#editItinerarySubmit
                input(type="submit", value="Update")
          a(href="/protohome")!= "Back Home"
